
@media screen and (max-width: 960px){
	.contact-form-main-on-mobile{
		overflow: hidden !important;
		display: block;
		text-align: center;
	}

	.actual-main-contacts-main-on-mobile{
		overflow: hidden;
		width: 100% !important;
		text-align: left  !important;
		margin-top: 10px  !important;
		margin-left: 32px  !important;
		margin-right: 10px  !important;
	}
	.actual-contacts-location-on-mobile{
		display: block;

		padding-top: 30px  !important;
		margin-left: 10px  !important;
		margin-right: 10px  !important;
	}
	.actual-contacts-location-icon-on-mobile{

		padding-top: 10px  !important;
		padding-bottom: 10px  !important;
		margin-left: 10px  !important;
		margin-right: 10px  !important;
	}

	.actual-contacts-location-paragraphs-on-mobile{
		
		margin-top: 10px  !important;
		margin-left: 10px  !important;
		margin-right: 10px  !important;
	}
	.actual-main-form-on-mobile{
		overflow: hidden;
		width: 100% !important;
		text-align: left;
		padding-left: 37px;
		
		margin-top: 10px  !important;
		margin-left: 10px  !important;
		margin-right: 10px  !important;
	}
}


