.pagination {
  display: inline-block;
}

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination-buttons:focus {
  background-color: #45D6A1 !important;
  color: white !important;
  border: 1px solid #45D6A1 !important;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border: 1px solid #ddd;
}